:root {
	--team-two-color: #6a0dad; /* purple */
	--team-one-color: #ff9f1c; /* orange */
}

:root[data-theme="light"] {
	--team-two-color: #7a17c1;
	--team-one-color: #b66100;

	--svg-icon-fill: hsl(220 20% 18%);

	--hp-color: #e55252; /* Red = hp */
	--gems-color: #49c485; /* Green = gems */
	--cooldown-color: #6cb3ff; /* Blue = cooldown */

	--board-tint-strength: 25%;
}
:root[data-theme="dark"] {
	--team-two-color: #bf65ff;

	--svg-icon-fill: hsl(220 15% 85%);

	--hp-color: #b60000; /* Red = hp */
	--gems-color: #2a9a60; /* Green = gems */
	--cooldown-color: #1560bc; /* Blue = cooldown */

	--board-tint-strength: 10%;
}

:root {
	--field-stop-tl: color-mix(
		in srgb,
		var(--grid-bg) calc(100% - var(--board-tint-strength)),
		var(--team-one-color) var(--board-tint-strength)
	);
	--field-stop-mid: var(--grid-bg);
	--field-stop-br: color-mix(
		in srgb,
		var(--grid-bg) calc(100% - var(--board-tint-strength)),
		var(--team-two-color) var(--board-tint-strength)
	);

	--field-gradient: linear-gradient(
		to bottom right,
		var(--field-stop-tl) 0%,
		var(--field-stop-mid) 50%,
		var(--field-stop-br) 100%
	);
}

.icon {
	fill: var(--svg-icon-fill);
}

.team-0.icon {
	fill: color-mix(in srgb, var(--team-two-color) 70%, var(--svg-icon-fill) 30%);
}
.team-1.icon {
	fill: color-mix(in srgb, var(--team-one-color) 70%, var(--svg-icon-fill) 30%);
}

:root[data-theme="dark"] .team-0.icon {
	fill: color-mix(in srgb, var(--team-two-color) 70%, var(--svg-icon-fill) 60%);
}
:root[data-theme="dark"] .team-1.icon {
	fill: color-mix(in srgb, var(--team-one-color) 70%, var(--svg-icon-fill) 60%);
}
